<!--Main Banner / Banner One-->
<section class="main-banner banner-one" id="banner" style="background-image:url(images/background/banner-bg-1.png);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <h4>E-commerce Solution</h4>
                    <h2>Give yourself the best chance of success with All Rights Reserved</h2>
                    <p>Sulation is an easy to use tool for eCommerce. With the help of our system you can present your products. It is all very easy!</p>
                    <a href="#" class="theme-btn btn-style-two">Request A Demo <span class="icon ti-arrow-circle-right"></span></a>
                </div>
            </div>
            
            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <figure class="image"><img src="images/resource/banner-image-1.png" alt=""></figure>
                </div>
            </div>
            
        </div>
    </div>
</section>
  <!--End Main Banner-->