<!--Inventory Section-->
<section class="inventory-section" id="inventory">
    <div class="auto-container">
        <!--Heading-->
        <div class="sec-title centered">
            <div class="icon"><figure class="image"><img src="images/icons/icon-13.png" alt=""></figure></div>
            <h2>Inventory Management</h2>
            <div class="desc-text">Solution is an easy to use tool for eCommerce. <br>You can present your products.</div>
        </div>
        
        <div class="content-box">
            <div class="inventory-tabs">
                <ul class="tab-buttons clearfix">
                    <li class="tab-btn active-btn" data-tab="#tab-one">All Product</li>
                    <li class="tab-btn" data-tab="#tab-two">Active Product</li>
                    <li class="tab-btn" data-tab="#tab-three">Inactive Product</li>
                </ul>
                <div class="tabs-content">
                    <!--Tab / Active tab-->
                    <div class="tab active-tab" id="tab-one">
                        <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    
                    <!--Tab-->
                    <div class="tab" id="tab-two">
                        <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    
                    <!--Tab-->
                    <div class="tab" id="tab-three">
                        <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                            <li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>