<main>
    <div id="shopify-section-storedirectory-template" class="shopify-section">
        <div class="store-directory">
            <div class="container">
                <div class="page-child">
                    <div class="breadcrumbs">
                        <div class="bread-crumb engoc-breadcrumb">
                            <a href="../index.html" title="Back to the frontpage">მთავარი</a>
                            <i class="fa fa-angle-right"></i>
                            <span>მწარმოებლები</span>
                        </div>
                    </div>
                    <!-- /.breadcrumbs -->
                    <h2 class="page-title">Store Directory</h2>
                </div>
                <div class="store-directory-content">
                    <ul class="product-categories">
                        <li class="cat-item cat-parent">
                            <a href="#/products/by/manufacturer/{{this.parent_record.id}}" class="level1">
                                <img src="{{this.parent_record.photo}}" alt="{{this.parent_record.name}}" /> {{this.parent_record.name}}
                            </a>
                            <ul class="children">                            
                                <li class="cat-item cat-children" *ngFor="let item of this.manufacturer">
                                    <a href="#/products/by/manufacturer/{{item.id}}" target="_blank">
                                        <img src="{{item.photo}}" alt="{{item.name}}" /> {{item.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>