<!-- Start Sidebar Area  -->
<div class="side-nav">
    <div class="side-nav-inner">
        <!-- Start Search Bar  -->
        <form action="#" class="side-nav-search-form">
            <div class="form-group search-field">
                <input type="text" class="search-field" name="search-field" placeholder="Search...">
                <button class="side-nav-search-btn"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- End Search Bar  -->

        <!-- Start Side Content  -->
        <div class="side-nav-content">
            <div class="row ">
                <!-- Start Left Bar  -->
                <div class="col-lg-5 col-xl-6 col-12">
                    <ul class="main-navigation">
                        <li><a href="home-01.html">Home One</a></li>
                        <li><a href="home-02.html">Home Two</a></li>
                        <li><a href="home-03.html">Home Three</a></li>
                        <li><a href="home-04.html">Home Four</a></li>
                        <li><a href="home-05.html">Home Five</a></li>
                    </ul>
                </div>
                <!-- End Left Bar  -->

                <!-- Start Right Bar  -->
                <div class="col-lg-7 col-xl-6 col-12">
                    <div class="axil-contact-info-inner">

                        <!-- Start Single Address  -->
                        <div class="axil-contact-info">
                            <address class="address">
                                <span class="title">Contact Information</span>
                                <p>Theodore Lowe, Ap #867-859 <br> Sit Rd, Azusa New York</p>
                            </address>
                            <address class="address">
                                <span class="title">We're Available 24/ 7. Call Now.</span>
                                <p><a class="tel" href="tel:8884562790"><i class="fas fa-phone"></i>(888)
                                        456-2790</a></p>
                                <p><a class="tel" href="tel:12125553333"><i class="fas fa-fax"></i>(121)
                                        255-53333</a></p>
                            </address>
                        </div>
                        <!-- End Single Address  -->

                        <!-- Start Single Address  -->
                        <div class="axil-contact-info">
                            <h5 class="title">Find us here</h5>
                            <div class="contact-social-share d-flex align-items-center">
                                <ul class="social-share style-rounded">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- End Single Address  -->
                    </div>
                </div>
                <!-- End Right Bar  -->
            </div>
        </div>
        <!-- End Side Content  -->
        <!-- End of .side-nav-inner -->
        <div class="close-sidenav" id="close-sidenav">
            <button class="close-button"><i class="fal fa-times"></i></button>
        </div>
    </div>
</div>
<!-- End Sidebar Area  -->