<br /><br /><br /><br />
<!--Service Section-->
<section class="services-page-section">
    <div class="auto-container">
        <div class="row clearfix">            
            <!--Service Style Three-->
            <div class="service-style-three col-md-4" *ngFor="let item of this.list;">
                <div class="inner-box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon">
                                <figure class="image">
                                    <img src="{{item.photo}}" alt="{{item.name}}" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3><a href="#/service/{{item.id}}">{{item.name}}</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text">{{item.description}}</div>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</section>
<!--End Service Section-->