<!-- Main Header-->
<header class="main-header">

    <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo">
                        <a href="#/">
                            <img src="assets/theme/images/logo.png" alt="Logo" />
                        </a>
                    </div>
                </div>
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">

                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse scroll-nav clearfix">
                            <ul class="navigation clearfix" id="navigation_ul">
                                <li class="current">
                                    <a href="#/" i18n="@@NavigationHome">მთავარი</a>
                                </li>
                                <li>
                                    <a href="#/services" i18n="@@NavigationServices">სერვისები</a>
                                </li>
                                <li>
                                    <a href="#/page/1" i18n="@@NavigationAbout">ჩვენს შესახებ</a>
                                </li>
                                <li>
                                    <a href="#/portfolio" i18n="@@NavigationPortfolio">პორტფოლიო</a>
                                </li>
                                <li>
                                    <a href="#/contact" i18n="@@NavigationContact">კონტაქტი</a>
                                </li>
                             </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->

                    <!--Other Links-->
                    <div class="other-links">
                        <a (click)="this.setLanguage('ka');" class="theme-btn" style="margin: 10px;">
                            <img src="assets/theme/images/flags/ka.png" alt="Georgian" />
                        </a>
                        <a (click)="this.setLanguage('en');" class="theme-btn" style="margin: 10px;">
                            <img src="assets/theme/images/flags/en.png" alt="English" />
                        </a>
                    </div>

                </div>
                <!--Nav Outer End-->

            </div>
        </div>
    </div>

</header>
<!--End Main Header -->
