<br /><br /><br /><br />
<!--Services Single Section-->
<section class="services-single-section">
    <div class="auto-container">
        <div class="row clearfix">                
            <!--Content Column-->
            <div class="content-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h2>{{this.page.title}}</h2>                 	
                    <div class="text">
                        <p>{{this.page.content}}</p>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</section>
<!--End Services Single Section-->