<div class="shopify-section index-section">
    <div data-section-type="section-product-v1">
      <div class="engoc-spv1" style="background-color: #f2f2f2;">
        <div class="container">
          <div class="azirspares-tabs default">
            <div class="tab-container">
              <div class="tab-panel active" id="spv1_tab_1563879369662_1563879369662-0">
                <div class="engoc-row-equal equal-container better-height">
                    <div class="col-sm-3" *ngFor="let item of manufacturers" style="margin-bottom: 20px;">
                        <div class="azirspares-listing style3">
                            <div class="listing-inner">
                                <div class="listing-thumb">
                                    <figure>
                                        <a
                                            href="#/products/by/manufacturer/{{item.id}}">
                                            <img src="{{item.photo}}"
                                                class="img-responsive"
                                                style="width: 90%;"
                                                alt="{{item.name}}" />
                                                <b>{{item.name}}</b>
                                        </a>
                                    </figure>
                                    <!-- <h4 class="cat-name"><a href="#/products/by/manufacturer/{{item.id}}">{{item.name}}</a></h4> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" id="records_not_found">არჩეული კრიტერიუმით ჩანაწერები ვერ მოიძებნა</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>