    <br /><br /><br /><br />
    <!--Services Single Section-->
    <section class="services-single-section">
    	<div class="auto-container">
        	<div class="row clearfix">            	
                <!--Links Column-->
                <div class="links-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<img src="{{this.service.photo}}" style="width: 150px;" />
                    </div>
                </div>                
                <!--Content Column-->
                <div class="content-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <h2>{{this.service.page.name}}</h2>                 	
                        <div class="text">
                        	<p>{{this.service.page.name}}</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <!--End Services Single Section-->