<!-- Start Page Wrapper -->
<main class="page-wrapper">
  <!-- Start Slider Area -->
  <div class="axil-slider-area axil-slide-activation">
    <!-- Start Single Slide -->
    <div class="axil-slide banner-technology bg_image bg_image--1 theme-gradient">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-12">
            <div class="content text-center">
              <h1 class="axil-display-1 mb--60 mb_sm--30 mb_md--30 wow slideFadeInUp" 
                data-wow-duration="1s"
                data-wow-delay="500ms" i18n="@@IndexSlogan">ჩვენთან მარტივია</h1>
              <a class="axil-button btn-large btn-transparent wow slideFadeInUp" 
                data-wow-duration="1s" 
                data-wow-delay="800ms" 
                href="tel:+995558288282">
                <span class="button-text" i18n="@@IndexCallUs"></span>
                <span class="button-icon"></span>
              </a>
              <a class="axil-button btn-large btn-transparent wow slideFadeInUp" 
                data-wow-duration="1s" 
                data-wow-delay="800ms" 
                (click)="this.makeOrder()">
                <span class="button-text" i18n="@@IndexWeCallYou"></span>
                <span class="button-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Slide -->
  </div>
  <!-- End Slider Area -->

  <app-partners></app-partners>

  <!-- Start Service Area -->
  <div class="axil-service-area ax-section-gap bg-color-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-6">
          <div class="section-title text-left mb--120 mb_md--5 mb_sm--5">
            <span class="sub-title extra08-color wow" data-splitting>ჩვენთან მარტივია</span>
            <h2 class="title wow" data-splitting><span>რით შეგვიძლია <br /> გემსახუროთ?</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Start Single Service -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
          <div class="axil-service text-center axil-control paralax-image service-bg-gray">
            <div class="inner">
              <div class="icon gradient-color-04">
                <div class="icon-inner">
                  <img src="assets/images/icons/layer.svg" alt="Icon Images">
                  <div class="image-2"><img src="assets/images/icons/icon-03.svg" alt="Shape Images"></div>
                </div>
              </div>
              <div class="content">
                <h4 class="title wow"><a href="single-service.html">Design</a></h4>
                <p class="wow">We design professional looking yet simple websites.
                  Our designs are search engine
                  and user friendly. </p>
                <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Service -->

        <!-- Start Single Service -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
          <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top">
            <div class="inner">
              <div class="icon gradient-color-02">
                <div class="icon-inner">
                  <img src="assets/images/icons/layer.svg" alt="Icon Images">
                  <div class="image-2"><img src="assets/images/icons/icon-02.svg" alt="Shape Images"></div>
                </div>
              </div>
              <div class="content">
                <h4 class="title wow"><a href="single-service.html">Development</a>
                </h4>
                <p class="wow">We design professional looking yet simple websites.
                  Our designs are search engine and user friendly. </p>
                <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Service -->

        <!-- Start Single Service -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
          <div class="axil-service text-center axil-control active paralax-image service-bg-gray space-to-top2">
            <div class="inner">
              <div class="icon gradient-color-03">
                <div class="icon-inner">
                  <img src="assets/images/icons/layer.svg" alt="Icon Images">
                  <div class="image-2"><img src="assets/images/icons/icon-03.svg" alt="Shape Images"></div>
                </div>
              </div>
              <div class="content">
                <h4 class="title wow"><a href="single-service.html">Online
                    marketing</a></h4>
                <p class="wow">We design professional looking yet simple websites.
                  Our designs are search engine and user friendly.</p>
                <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
  <!-- End Service Area -->

  <!-- Start Portfolio Area -->
  <div class="axil-portfolio-area ax-section-gap bg-color-lightest">
    <div class="container axil-masonary-wrapper">
      <div class="row align-items-end">
        <div class="col-lg-5 col-md-12">
          <div class="section-title mb_md--20 mb_sm--20">
            <span class="sub-title extra07-color wow" data-splitting>our projects</span>
            <h2 class="title wow mb--0" data-splitting>Some of our finest work.</h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="messonry-button text-left text-lg-right">
            <button data-filter="*" class="is-checked"><span class="filter-text">All</span></button>
            <button data-filter=".cat--1"><span class="filter-text">Branding</span></button>
            <button data-filter=".cat--2"><span class="filter-text">Web</span></button>
            <button data-filter=".cat--3"><span class="filter-text">Graphic</span></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mesonry-list grid-metro3 mt--20">
            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 axil-control active portfolio-33-33 cat--1 cat--2">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-01.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">Creative
                        Agency</a></h4>
                    <span class="category">ios, design</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 axil-control portfolio-33-33 cat--3">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-02.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">Rant bike</a></h4>
                    <span class="category">Branding</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 portfolio-33-33 cat--2 cat--3">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-03.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">All Volees</a></h4>
                    <span class="category">Web application</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 portfolio-33-33 cat--1 cat--2">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-04.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">Larq</a></h4>
                    <span class="category">Branding, design</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 portfolio-33-33 cat--3">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-05.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">Rant bike</a></h4>
                    <span class="category">Branding</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="portfolio portfolio_style--1 portfolio-33-33 cat--2 cat--3">
              <div class="inner move-up wow">
                <div class="thumb paralax-image">
                  <a href="single-case-study.html"><img src="assets/images/portfolio/portfolio-01.jpg"
                      alt="Portfolio Images"></a>
                </div>
                <div class="port-overlay-info">
                  <div class="hover-action">
                    <h4 class="title"><a href="single-case-study.html">Creative
                        Agency</a></h4>
                    <span class="category">ios, design</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio -->
          </div>
          <div class="view-all-portfolio-button mt--60 text-center move-up wow">
            <a class="axil-button btn-extra-large btn-transparent" href="#"><span class="button-text">Discover
                More Projects</span><span class="button-icon"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Portfolio Area -->

  <!-- Start Counterup Area -->
  <div class="axil-counterup-area ax-section-gap bg-color-white">
    <div class="container">
      <div class="row align-items-center">
        <!-- Start Section Title -->
        <div class="col-lg-5 col-12">
          <div class="section-title text-left">
            <span class="sub-title extra08-color wow" data-splitting>experts in field</span>
            <h2 class="title wow" data-splitting>What makes us special?</h2>
            <p class="subtitle-2 wow pr--0" data-splitting>Donec metus lorem, vulputate at sapien
              sit
              amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.
              Aliquam
              tristique libero.</p>
            <div class="view-all-portfolio-button mt--40">
              <a class="axil-button btn-large btn-transparent" href="#"><span class="button-text">Careers</span><span
                  class="button-icon"></span></a>
            </div>
          </div>
        </div>
        <!-- End Section Title -->

        <!-- Start Counterup Area -->
        <div class="col-lg-6 offset-xl-1 col-12 mt_md--40 mt_sm--40">
          <div class="row">
            <!-- Start Single Counterup  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="axil-counterup text-center counter-1 move-up wow">
                <div class="icon">
                  <img src="assets/images/counterup/shape-01.png" alt="Shape Images">
                </div>
                <h3 class="count">15</h3>
                <p>Years of operation</p>
              </div>
            </div>
            <!-- End Single Counterup  -->

            <!-- Start Single Counterup  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="axil-counterup text-center color-style-two mt--60 mt_mobile--40 move-up wow">
                <div class="icon">
                  <img src="assets/images/counterup/shape-02.png" alt="Shape Images">
                </div>
                <h3 class="count">360</h3>
                <p>Projects deliverd</p>
              </div>
            </div>
            <!-- End Single Counterup  -->

            <!-- Start Single Counterup  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="axil-counterup text-center color-style-three mt_mobile--40 move-up wow">
                <div class="icon">
                  <img src="assets/images/counterup/shape-03.png" alt="Shape Images">
                </div>
                <h3 class="count">600</h3>
                <p>Specialist</p>
              </div>
            </div>
            <!-- End Single Counterup  -->

            <!-- Start Single Counterup  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="axil-counterup text-center color-style-four mt--60 mt_mobile--40 move-up wow">
                <div class="icon">
                  <img src="assets/images/counterup/shape-04.png" alt="Shape Images">
                </div>
                <h3 class="count">64</h3>
                <p>Years of operation</p>
              </div>
            </div>
            <!-- End Single Counterup  -->
          </div>
        </div>
        <!-- End Counterup Area -->

      </div>
    </div>
  </div>
  <!-- End Counterup Area -->

  <!-- Start Testimonial Area -->
  <div class="axil-testimonial-area ax-section-gap bg-color-lightest">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <span class="sub-title extra05-color wow" data-splitting>testimonials</span>
            <h2 class="title wow" data-splitting>From getting started</h2>
            <p class="subtitle-2 wow" data-splitting>In vel varius turpis, non dictum sem. Aenean in
              efficitur ipsum, in
              egestas ipsum. Mauris in mi ac tellus.</p>
          </div>
        </div>
      </div>
      <div class="testimonial-activation">
        <div class="row axil-testimonial-single">
          <!-- Start Single Testimonial -->
          <div class="col-lg-6 mt--60">
            <div class="axil-testimonial testimonial active move-up wow">
              <div class="inner">
                <div class="clint-info-wrapper">
                  <div class="thumb">
                    <img src="assets/images/testimonial/client-01.jpg" alt="Clint Images">
                  </div>
                  <div class="client-info">
                    <h4 class="title">Martha Maldonado</h4>
                    <span>Executive Chairman @ Google</span>
                  </div>
                </div>
                <div class="description">
                  <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet,
                    auctor
                    iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                  <a class="axil-link-button" href="#">Read Project Case Study</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Testimonial -->

          <!-- Start Single Testimonial -->
          <div class="col-lg-6 mt--60">
            <div class="axil-testimonial axil-control testimonial move-up wow">
              <div class="inner">
                <div class="clint-info-wrapper">
                  <div class="thumb">
                    <img src="assets/images/testimonial/client-02.jpg" alt="Clint Images">
                  </div>
                  <div class="client-info">
                    <h4 class="title">Martha Maldonado</h4>
                    <span>Executive Chairman @ Google</span>
                  </div>
                </div>
                <div class="description">
                  <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet,
                    auctor
                    iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                  <a class="axil-link-button" href="#">Read Project Case Study</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Testimonial -->

        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonial Area -->

  <!-- Start Team Area -->
  <div class="axil-team-area shape-position ax-section-gap bg-color-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6">
          <div class="thumbnail">
            <div class="image">
              <img src="assets/images/team/team-group.png" alt="Team Images">
            </div>
            <div class="total-team-button">
              <a href="team.html"><span>20+</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-5 offset-xl-1 mt_md--40 mt_sm--40">
          <div class="content">
            <div class="inner">
              <div class="section-title text-left">
                <span class="sub-title extra08-color wow" data-splitting>our team</span>
                <h2 class="title wow" data-splitting>Alone we can do so little; together we can
                  do
                  so much.</h2>
                <p class="subtitle-2 wow pr--0" data-splitting>Donec metus lorem, vulputate at
                  sapien sit amet, auctor
                  iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit. Aliquam
                  tristique libero.</p>
                <div class="axil-button-group mt--40">
                  <a class="axil-button btn-large btn-transparent" href="team.html"><span class="button-text">Our
                      Team</span><span class="button-icon"></span></a>
                  <a class="axil-button axil-link-button" href="#">Careers</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-group">
      <div class="shape shape-1 customOne">
        <i class="icon icon-shape-06"></i>
      </div>
      <div class="shape shape-2">
        <i class="icon icon-shape-13"></i>
      </div>
      <div class="shape shape-3">
        <i class="icon icon-shape-14"></i>
      </div>
    </div>
  </div>
  <!-- End Team Area -->

  <!-- Start Blog Area -->
  <div class="axil-blog-area ax-section-gap bg-color-lightest">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <span class="sub-title extra04-color">what's going on</span>
            <h2 class="title">Latest stories</h2>
            <p class="subtitle-2">In vel varius turpis, non dictum sem. Aenean in efficitur ipsum,
              in
              egestas ipsum. Mauris in mi ac tellus.</p>
          </div>
        </div>
      </div>
      <div class="row blog-list-wrapper mt--20">
        <!-- Start Blog Area -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="axil-blog axil-control mt--40 active move-up wow">
            <div class="content">
              <div class="content-wrap paralax-image">
                <div class="inner">
                  <span class="category">Lifestyle</span>
                  <h5 class="title"><a href="blog-details.html">Choosing the right features
                      for
                      your custom</a></h5>
                  <p>Quisque eget erat augue. Cras gravida enim nulla, a dictum erat fringilla
                    at.
                  </p>
                </div>
              </div>
            </div>
            <div class="thumbnail">
              <div class="image">
                <img src="assets/images/blog/blog-01.jpg" alt="Blog images">
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog Area -->
        <!-- Start Blog Area -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="axil-blog axil-control mt--40 move-up wow">
            <div class="content">
              <div class="content-wrap paralax-image">
                <div class="inner">
                  <span class="category">Lifestyle</span>
                  <h5 class="title"><a href="blog-details.html">Choosing the right features
                      for
                      your custom</a></h5>
                  <p>Quisque eget erat augue. Cras gravida enim nulla, a dictum erat fringilla
                    at.
                  </p>
                </div>
              </div>
            </div>
            <div class="thumbnail">
              <div class="image">
                <img src="assets/images/blog/blog-02.jpg" alt="Blog images">
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog Area -->
      </div>
    </div>
  </div>
  <!-- End Blog Area -->

  <!-- Start Call To Action -->
  <div class="axil-call-to-action-area shape-position ax-section-gap theme-gradient">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="axil-call-to-action">
            <div class="section-title text-center">
              <span class="sub-title extra04-color wow" data-splitting>Let's work together</span>
              <h2 class="title wow" data-splitting>Need a successful project?</h2>
              <a class="axil-button btn-large btn-transparent" href="#"><span class="button-text">Estimate
                  Project</span><span class="button-icon"></span></a>
              <div class="callto-action">
                <span class="text wow" data-splitting>Or call us now</span>
                <span class="wow" data-splitting><i class="fal fa-phone-alt"></i> <a href="#">(123)
                    456 7890</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-group">
      <div class="shape shape-01">
        <i class="icon icon-shape-14"></i>
      </div>
      <div class="shape shape-02">
        <i class="icon icon-shape-09"></i>
      </div>
      <div class="shape shape-03">
        <i class="icon icon-shape-10"></i>
      </div>
      <div class="shape shape-04">
        <i class="icon icon-shape-11"></i>
      </div>
    </div>
  </div>
  <!-- End Call To Action -->

</main>
<!-- End Page Wrapper -->