<app-layout-main-section-main-banner></app-layout-main-section-main-banner>
<app-layout-main-section-products-section></app-layout-main-section-products-section>
<app-layout-main-section-features-section></app-layout-main-section-features-section>
<app-layout-main-section-inventory-section></app-layout-main-section-inventory-section>
<app-layout-main-section-blog-section></app-layout-main-section-blog-section>
<app-layout-main-section-testimonials-section></app-layout-main-section-testimonials-section>
<app-layout-main-section-contact-section></app-layout-main-section-contact-section>