<main>
    <div id="shopify-section-product-template" class="shopify-section">
        <div style="background-color: #f4f4f4;">
            <div class="container">
                <div class="bread-crumb engoc-breadcrumb">
                    <a href="#/" title="Back to the frontpage">მთავარი</a>
                    <i class="fa fa-angle-right"></i>
                    <span>{{product.title}}</span>
                </div>
                <div class="main-container type-1">
                    <div class="main-contain-summary">
                        <div class="row">
                            <div class="contain-left has-gallery col-md-9 col-xs-12">
                                <div class="row">
                                    <!--Begin Photos-->
                                    <div class="col-sm-6 col-md-8 single-left">
                                        <div class="woocommerce-product-gallery d-block of-hidden">
                                            <div class="flex-viewport">
                                                <div class="flash">
                                                    <span class="onsale"><span class="number">-9%</span></span>
                                                </div>
                                                <div class="azjs-slider-for">
                                                    <div>
                                                        <img src="{{product.product_images.first_image}}"
                                                            alt="{{product.title}}"
                                                            class="img-responsive engoj_img_main" id="main-photo">
                                                    </div>
                                                </div>
                                            </div>
                                            <ol class="flex-control-nav flex-control-thumbs slick-vertical slick-slider azjs-slider-nav">
                                                <li class="engoj-nav-item" *ngFor="let item of product.product_images.toArray">
                                                    <a class="d-block" href="javascript:void(0)">
                                                        <img 
                                                        src="{{item.filename}}" 
                                                        alt="{{product.title}}" 
                                                        class="img-responsive" 
                                                        (click) = "thumbImagesClick(item.filename)"
                                                        >
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <!--End Photos-->

                                    <!--Begin Details-->
                                    <div class="col-sm-6 col-md-4">
                                        <div class="summary entry-summary ">
                                            <form method="post"
                                                action="https://azirspares-store-demo.myshopify.com/cart/add"
                                                id="AddToCartForm" accept-charset="UTF-8" class="clearfix"
                                                enctype="multipart/form-data"><input type="hidden" name="form_type"
                                                    value="product" /><input type="hidden" name="utf8" value="✓" />
                                                <h1 class="product_title entry-title">{{product.title}}</h1>
                                                <p class="price">
                                                    <del class="enj-product-price-compare">
                                                        <span class=money>{{product.product_price.discount}}</span>
                                                    </del>
                                                    <ins class="engoj_price_main enj-product-price">
                                                        <span class=money>{{product.product_price.price}}</span>
                                                    </ins>
                                                </p>
                                                <div class="woocommerce-product-rating">
                                                    <div class="rating-wapper">
                                                        <span class="shopify-product-reviews-badge"
                                                            data-id="1308413231151"></span>
                                                    </div>
                                                </div>
                                                <div class="available-product">
                                                    <ul>
                                                        <li *ngFor="let item of this.product.product_features">{{item.value}}</li>
                                                    </ul>
                                                </div>
                                                <div class="">
                                                    <div class="swatch clearfix" data-option-index="1">
                                                        <p class="engo-swatch-label">ფერი:</p>                                                      
                                                        <div *ngFor="let item of this.product.attributes" data-style="square" class="none swatch-element color {{item.value}} available">                                                        
                                                            <div class="tooltip">{{item.value}}</div>
                                                            <input id="swatch-1-blue" type="radio" name="option-1" value="{{item.value}}" checked="">                                                        
                                                            <label for="swatch-1-blue" style="background-color: {{item.value}};">
                                                                <div class="crossed-out"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 15.642 15.642" enable-background="new 0 0 15.642 15.642" width="25px" height="25px"><path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z" fill="#000000"></path></svg></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="mar-top-30 mar-bottom-30 cart">
                                                    <select name="id" id="productSelect"
                                                        class="product-single__variants">
                                                        <option selected="selected" data-sku="608Z039"
                                                            value="12165488214063">Default Title - <span
                                                                class=money>$299.00</span></option>
                                                    </select>
                                                    <div class="js-qty">
                                                        <input type="number" size="4" title="Qty" value="1" min="1" name="quantity"/>
                                                    </div>
                                                    <!-- <swal
                                                        #deleteSwal
                                                        title="Delete {{ file.name }}?"
                                                        text="This cannot be undone"
                                                        icon="success"
                                                        [showCancelButton]="true"
                                                        [focusCancel]="true">
                                                    </swal> -->
                                                        <button type="button" (click)="addToShoppingCard()" class="single_add_to_cart_button enj-add-to-cart-btn engoj-btn-addtocart">
                                                            კალათაში დამატება
                                                        </button>
                                                    <div data-shopify="payment-button" class="shopify-payment-button">
                                                        <button class="shopify-payment-button__button shopify-payment-button__button--unbranded shopify-payment-button__button">
                                                            ყიდვა
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product_meta">
                                                    <span class="sku_wrapper">ID#: <span
                                                            class="sku engoj-variant-sku">CODE-{{product.id}}</span></span>
                                                    <span class="posted_in">კატეგორიები:
                                                         <a *ngFor="let item of product.ProductCategories" href="#/products/by/category/{{item.id}}">{{item.name}}, </a> 
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--End Details-->
                                </div>
                            </div>
                            <div class="col-md-3 single-product-policy hide-on-mobile ">
                                <div class="azirspares-iconbox default pad-bottom-15 ">
                                    <div class="iconbox-inner">
                                        <span class="icon">
                                            <span class="flaticon-delivery-truck"></span>
                                        </span>
                                        <div class="iconbox-wrap">
                                            <h4 class="title">მიწოდების სერვისი</h4>
                                            <p class="desc">From then, delivery is generally<br>within 2-10 days,
                                                depending<br>on your location.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="azirspares-iconbox default pad-bottom-15 ">
                                    <div class="iconbox-inner">
                                        <span class="icon">
                                            <span class="flaticon-recycling"></span>
                                        </span>
                                        <div class="iconbox-wrap">
                                            <h4 class="title">დაბრუნების პირობები</h4>
                                            <p class="desc">Not the right fit? No worries. We'll arrange pick up and a
                                                full refund within 7 days including the delivery fee.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="azirspares-iconbox default pad-bottom-15 ">
                                    <div class="iconbox-inner">
                                        <span class="icon">
                                            <span class="flaticon-shield"></span>
                                        </span>
                                        <div class="iconbox-wrap">
                                            <h4 class="title">გარანტია</h4>
                                            <p class="desc">Quality comes first and our products are designed to last.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky_addcart">
            <div class="container container-v2">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 sticky-content">
                        <div class="img_left">
                            <img width="60" height="60" class="engoj_img_main img-fluid"
                                src="../assets/cdn.shopify.com/s/files/1/0068/6289/7199/products/product6-168b3.jpg?v=1563849725"
                                alt="{{product.title}}" />
                        </div>
                        <div class="info_right">
                            <h2 class="product-title ">{{product.title}}</h2>
                            <div class="wrap-rating">
                                <span class="shopify-product-reviews-badge" data-id="1308413231151"></span>
                            </div>
                        </div>
                        <div class="sticky-button style2">
                            <div class="btn-action detail-attr qty-cart">
                                <button type="button" class="shop-button btn-add-stickycart">
                                    Add to Cart
                                </button>
                            </div>
                            <!-- End add to cart & quantity -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 sticky-button style1">
                        <div class="btn-action detail-attr qty-cart">
                            <button type="button" class="shop-button btn-add-stickycart">
                                Add to Cart
                            </button>
                        </div>
                        <!-- End add to cart & quantity -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="engoc-pd-tab-wrapper" style="background-color: #f4f4f4;">
            <div class="container">
                <div style="background-color: #fff;">
                    <ul class="tabs wc-tabs">
                        <li class="active">
                            <a href="#engo-pd-tab-description" data-toggle="tab">Description</a>
                        </li>
                        <li class="">
                            <a href="#engo-pd-tab-reviews" data-toggle="tab">Review</a>
                        </li>
                        <li class="">
                            <a href="#engo-pd-tab-add_info" data-toggle="tab">Additional</a>
                        </li>
                        <li class="">
                            <a href="#engo-pd-tab-seller" data-toggle="tab">Video</a>
                        </li>
                    </ul>
                    <div class="tab-content woocommerce-Tabs-panel">
                        <div id="engo-pd-tab-description" class="tab-pane active">
                            <div class="azirspares-heading style3">
                                <div class="heading-inner">
                                    <div class="header-wrap">
                                        <h3 class="title"><span>Azirspares - Car Dealerships, <br>Auto Part And
                                                Listing</span></h3>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <p class="text-center">A wonderful and modern design that is spend own for AUTO PARTS, Car
                                Portal and MarketPlace theme.<br>The features are designed specifically and fully
                                detailed with Car Listing, support perfectly for popular plugins such as:<br>Multi
                                Vendor…And in particular, you will have a great mobile experience that’s designed to be
                                at your best comfortable.<br>This 2 in 1 theme is really worthwhile for you to
                                experience it.</p>
                            <br> <br>
                            <div style="text-align: center;"><img alt=""
                                    src="../assets/cdn.shopify.com/s/files/1/0068/6289/7199/files/lap885c.png?6237"
                                    style="float: none;"></div>
                        </div>
                        <div id="engo-pd-tab-reviews" class="tab-pane">
                            <div id="shopify-product-reviews" data-id="1308413231151"></div>
                        </div>
                        <div id="engo-pd-tab-add_info" class="tab-pane">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="desc">Frame Material: Wood</p>
                                        </td>
                                        <td>
                                            <p class="desc">Seat Material: Wood</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Adjustable Height: No</p>
                                        </td>
                                        <td>
                                            <p class="desc">Seat Style: Saddle</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Distressed: No</p>
                                        </td>
                                        <td>
                                            <p class="desc">Custom Made: No</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Number of Items Included: 1</p>
                                        </td>
                                        <td>
                                            <p class="desc">Folding: No</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Stackable: No</p>
                                        </td>
                                        <td>
                                            <p class="desc">Cushions Included: No</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Arms Included: No</p>
                                        </td>
                                        <td>
                                            <div class="product-more-info">
                                                <p class="desc">Legs Included: Yes</p>
                                                <ul class="list-none">
                                                    <li><a href="#">Leg Material: Wood</a></li>
                                                    <li><a href="#">Number of Legs: 4</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Footrest Included: Yes</p>
                                        </td>
                                        <td>
                                            <p class="desc">Casters Included: No</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Nailhead Trim: No</p>
                                        </td>
                                        <td>
                                            <p class="desc">Weight Capacity: 225 Kilogramm</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="desc">Commercial Use: No</p>
                                        </td>
                                        <td>
                                            <p class="desc">Country of Manufacture: Vietnam</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="engo-pd-tab-seller" class="tab-pane">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/GDSaJ4tpCRI?controls=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</main>