<!--Testimonials Section-->
<section class="testimonials-section">
    <div class="auto-container">
        <div class="outer-container">
            <!--Testimonials-->
            <div class="testimonials-carousel-one single-item-carousel owl-theme owl-carousel">
                <!--Slide Item-->
                <div class="slide-item">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-md-7 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
                            </div>
                        </div>
                        <!--Info Column-->
                        <div class="info-column col-md-5 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="info">
                                    <figure class="thumb img-circle"><img class="img-circle" src="assets/theme/images/resource/author-thumb-1.jpg" alt=""></figure>
                                    <h4>Madison Warren</h4>
                                    <div class="designation">Product Designer at UI_Expert</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide Item-->
                <div class="slide-item">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-md-7 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
                            </div>
                        </div>
                        <!--Info Column-->
                        <div class="info-column col-md-5 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="info">
                                    <figure class="thumb img-circle"><img class="img-circle" src="assets/theme/images/resource/author-thumb-1.jpg" alt=""></figure>
                                    <h4>Madison Warren</h4>
                                    <div class="designation">Product Designer at UI_Expert</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide Item-->
                <div class="slide-item">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-md-7 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
                            </div>
                        </div>
                        <!--Info Column-->
                        <div class="info-column col-md-5 col-sm-12 col-xs-12">
                            <div class="inner">
                                <div class="info">
                                    <figure class="thumb img-circle"><img class="img-circle" src="assets/theme/images/resource/author-thumb-1.jpg" alt=""></figure>
                                    <h4>Madison Warren</h4>
                                    <div class="designation">Product Designer at UI_Expert</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>