<!--Products Section-->
<section class="products-section" id="products">
    <div class="auto-container">
        <!--Heading-->
        <div class="sec-title">
            <div class="icon"><figure class="image"><img src="assets/theme/images/icons/icon-1.png" alt=""></figure></div>
            <h2>Your e-commerce service is precious we know that, <br>So we make this app like this.</h2>
            <div class="desc-text">Sulation is an easy to use tool for eCommerce. With the help of our <br>system you can present your products. It is all very easy!</div>
        </div>
        
        <!--Services-->
        <div class="services-outer clearfix">
            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><figure class="image"><img src="assets/theme/images/icons/icon-2.png" alt=""></figure></div>
                    <h3><a href="service-detail.html">Analytics</a></h3>
                    <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    <div class="link-box"><a href="service-detail.html">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                </div>
            </div>
            
            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><figure class="image"><img src="assets/theme/images/icons/icon-3.png" alt=""></figure></div>
                    <h3><a href="service-detail.html">Ecommerce</a></h3>
                    <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    <div class="link-box"><a href="service-detail.html">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                </div>
            </div>
            
            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><figure class="image"><img src="assets/theme/images/icons/icon-4.png" alt=""></figure></div>
                    <h3><a href="service-detail.html">Payment</a></h3>
                    <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    <div class="link-box"><a href="service-detail.html">See more <span class="icon ti-arrow-circle-right"></span></a></div>
                </div>
            </div>
            
        </div>
    </div>
</section>