<!--Blog Section-->
<section class="blog-section">
    <div class="auto-container">
        <!--Heading-->
        <div class="sec-title-two centered">
            <h2>Recent Blog</h2>
            <div class="desc-text">Solution is an easy to use tool for eCommerce. <br>You can present your products.</div>
        </div>
        
        <div class="row clearfix">
            
            <!--News Block-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-1.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="post-meta">26 March 2017 By Author</div>
                        <h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
                        <div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-2.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="post-meta">26 March 2017 By Author</div>
                        <h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
                        <div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-3.jpg" alt=""></a></figure>
                    <div class="lower-content">
                        <div class="post-meta">26 March 2017 By Author</div>
                        <h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
                        <div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="text-center wow tada" data-wow-delay="0ms" data-wow-duration="1500ms"><a href="blog.html" class="theme-btn btn-style-seven">Go To Blog</a></div>
        
    </div>
</section>