    <br /><br /><br /><br /><br />    
    <!--Contact Page Section-->
    <section class="contact-page-section">
    	<div class="auto-container">
        	<!--Upper Section-->
        	<div class="upper-section">
            	<div class="row clearfix">                	
                    <!--Form Column-->
                    <div class="form-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="inner-column">
                        	{{this.page.content}}                           
                        </div>
                    </div>                    
                    <!--Map Column-->
                    <div class="map-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="inner-column">                        	
                            <!--Map Outer-->
                            <div class="map-outer">
                                <!--Map Canvas-->
                                <div class="map-canvas"
                                    data-zoom="12"
                                    data-lat="-37.817085"
                                    data-lng="144.955631"
                                    data-type="roadmap"
                                    data-hue="#ffc400"
                                    data-title="LLC GeCorp"
                                    data-icon-path="images/icons/map-marker.png"
                                    data-content="Tbilisi, Georgia <br /><a href='mailto:info@ge-corp.com'>info@ge-corp.com</a>">
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>            
            <!--Lower Section-->
            <div class="lower-section">
            	<div class="row clearfix">                	
                    <div class="column col-md-4 col-sm-6 col-xs-12">
                    	<ul class="contact-info-list">
                        	<span class="icon fa fa-send"></span>
                            <li><strong>Location</strong></li>
                            <li>Tbilisi, Goergia</li>
                        </ul>
                    </div>                    
                    <div class="column col-md-4 col-sm-6 col-xs-12">
                    	<ul class="contact-info-list">
                        	<span class="icon fa fa-envelope"></span>
                            <li><strong>E-mail</strong></li>
                            <li>info@ge-corp.com</li>
                        </ul>
                    </div>                    
                    <div class="column col-md-4 col-sm-6 col-xs-12">
                    	<ul class="contact-info-list">
                        	<span class="icon fa fa-phone"></span>
                            <li><strong>Phone</strong></li>
                            <li>+995 (322) 11 11 36</li>
                        </ul>
                    </div>                    
                </div>
            </div>            
        </div>
    </section>
    <!--End Contact Page Section-->