<div class="container-wrapper">
    <div class="page-title-wrapper">
        <div class="center">
            <div class="page-title">
                <div class="page-title-preimage"><img alt="Pretitle-image" src="/assets/theme/upload/title-small-image.png"></div>
                <h1>{{page.title}}</h1>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="container">
        <!-- start container -->
        <div class="center">
            <div class="page-wrapper">
                <div class="main">
                    <div id="post-10" class="post-10 page type-page status-publish hentry">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h2 style="text-align: center;">{{page.title}}</h2>
                                            </div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper" [innerHTML]="page.content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>