<div id="shopify-section-1563879369662" class="shopify-section index-section">
    <div data-section-id="1563879369662" data-section-type="section-product-v1">
      <div class="engoc-spv1" style="background-color: #f2f2f2;">
        <div class="container">
          <div class="azirspares-tabs default">
            <div class="tab-container">
              <div class="tab-panel active" id="spv1_tab_1563879369662_1563879369662-0">
                <div class="engoc-row-equal equal-container better-height">
                    <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let item of list">                    
                        <div class="row-item">
                            <div class="product-item best-selling style-02 rows-space-60">
                                <div class="product-inner images">
                                    <div class="product-thumb">
                                        <a class="thumb-link" href="#/product/{{item.id}}">
                                            <img class="img-responsive" src="{{item.photo.first_image}}" alt="{{item.title}}" />
                                        </a>
                                        <div class="second-image">
                                            <a href="#/product/{{item.id}}" class="thumb-link">
                                                <img class="img-responsive" src="{{item.photo.second_image}}"  alt="{{item.title}}" />
                                            </a>
                                        </div>
                                        <div class="flash">
                                            <span class="onsale"><span class="number">-68%</span></span>
                                            <span class="onnew hidden"></span>
                                        </div>
                                    </div>
                                    <div class="product-info equal-elem">
                                        <!-- <div class="cat-list">
                                            <a href="collections/best-sales.html">Best Sales</a>,
                                            <a href="collections/hot-trend.html">Hot Trend</a>,
                                            <a href="collections/new-arrivals.html">New Arrivals</a>,
                                            <a href="collections/all.html">Shop</a>
                                        </div> -->
                                        <div class="rating-wapper">
                                            <span class="shopify-product-reviews-badge" data-id="1308396290095"></span>
                                        </div>
                                        <h3 class="product-name product_title">
                                            <a href="#/product/{{item.id}}">
                                                {{item.title}}
                                            </a>
                                        </h3>
                                        <span class="price">
                                            <del><span class=money>$699.00</span></del>
                                            <ins><span class=money>$222.00</span></ins>
                                        </span>
                                    </div>
                                    <div class="group-button clearfix">
                                        <div class="engoc-add-to-wishlist">
                                        <div class="engoc-wishlist-add-button show">
                                            <a 
                                            href="javascript:addToWishlist(item.id)" 
                                            class="add_to_wishlist" 
                                            data-toggle="tooltip"
                                            data-placement="top">
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </a>
                                        </div>
                                        </div>
                                        <div class="add-to-cart">
                                        <div class="add-to-cart-wrap azirspares-add-to-cart-wrap">
                                            <form method="post" action="https://azirspares-store-demo.myshopify.com/cart/add" class="add-to-cart">
                                                <input type="hidden" name="id" value="12165331124271" />
                                                <button type="submit" onclick="this.addToShoppingCard(item.id)"
                                                    class="enj-add-to-cart-btn engoc-btn-default" data-toggle="tooltip"
                                                    data-placement="top" title="Add to Cart">
                                                    <i class="flaticon-online-shopping-cart"></i>
                                                </button>
                                            </form>
                                        </div>
                                        </div>
                                        <div class="product compare-button">
                                            <a href="#/product/{{item.id}}" class="compare button"
                                                data-toggle="tooltip" data-placement="top" title="View now">
                                                <i class="flaticon-shuffle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" id="records_not_found">არჩეული კრიტერიუმით ჩანაწერები ვერ მოიძებნა</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>