<!--Features Section-->
<section class="features-section" id="features">
    <div class="auto-container">
        <!--Heading-->
        <div class="sec-title centered">
            <div class="icon"><figure class="image"><img src="images/icons/icon-5.png" alt=""></figure></div>
            <h2>Point of Sale Software</h2>
            <div class="desc-text">Sulation is an easy to use tool for eCommerce. <br>You can present your products.</div>
        </div>
        
        <div class="row clearfix">
            <!--Features Column-->
            <div class="features-column col-md-4 col-sm-12 col-xs-12">
                <!--Feature Block-->
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon"><figure class="image"><img src="images/icons/icon-6.png" alt=""></figure></div>
                        <h3><a href="#">Easy to setup, Easy to use</a></h3>
                        <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    </div>
                </div>
                <!--Feature Block-->
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon"><figure class="image"><img src="images/icons/icon-7.png" alt=""></figure></div>
                        <h3><a href="#">Keep your money</a></h3>
                        <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    </div>
                </div>
                <!--Feature Block-->
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="icon"><figure class="image"><img src="images/icons/icon-8.png" alt=""></figure></div>
                        <h3><a href="#">Customize your hardware</a></h3>
                        <div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
                    </div>
                </div>
            </div>
            
            <!--Carousel Column-->
            <div class="carousel-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner">
                    <ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
                        <li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
                        <li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
                        <li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>